<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>

<div id="wrapper">
    <h1>Welcome to Quoting Dojo</h1>

    <form action="quotes" method="post">
        <p>
            <label for="name">Your name</label>
            <input type="text" name="name"/>
        </p>

        <p>
            <label for="quote">Your quote:</label>
            <textarea name="quote"></textarea>
        </p>

        <p><input class="left" type="submit" value="Add my quote!"/>

        <a class="right" href="quotes">Skip to quotes!</a>
        </p>
    </form>
</div>

</body>
</html>